################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/build/.vs/obs-studio/v15/Solution.VC.db-wal
/build/.vs/obs-studio/v15/Solution.VC.db-shm
/build/.vs/obs-studio/v15/Solution.VC.db
/build/.vs/obs-studio/v15/Browse.VC.opendb
/build/.vs/obs-studio/v15/Browse.VC.db
/build/.vs/obs-studio/v15/.suo
/build/x64/Debug
/build/.vs/obs-studio/v15/ipch/AutoPCH/12038e7b75ac68ee
/build/.vs/obs-studio/v15/ipch/AutoPCH/e81a38172b26a54a/OBS-VIDEO.ipch
/build/.vs/obs-studio/v15/ipch/AutoPCH/41242aff4fb9ee9e/OBS-VIEW.ipch
/build/.vs/obs-studio/v15/ipch/AutoPCH/7913b3537a8aeea9/OBS-DISPLAY.ipch
/build/.vs/obs-studio/v15/ipch/AutoPCH/5857f9c0047a2312/WINDOW-BASIC-MAIN.ipch
/build/.vs/obs-studio/v15/ipch/AutoPCH/b3194cf2e2faf3e5/WINDOW-CAPTURE.ipch
/build/.vs/obs-studio/v15/ipch/AutoPCH/e5d4a0c5969925fe/OBS-SOURCE.ipch
.vs
